<div class="calculator">

    <app-display [value]="getDisplayValue()"></app-display>
    
    <div class="calculator-buttons">
        <button class="button command large-width-button" (click)="clickOnButton('CE')">CE</button>
        <button class="button operation" (click)="clickOnButton('%')">%</button>
        <button class="button operation" (click)="clickOnButton('/')">&divide;</button>  

        <button class="button" (click)="clickOnButton('7')">7</button>
        <button class="button" (click)="clickOnButton('8')">8</button>
        <button class="button" (click)="clickOnButton('9')">9</button>
        <button class="button operation" (click)="clickOnButton('*')">*</button>
        
        <button class="button" (click)="clickOnButton('4')">4</button>
        <button class="button" (click)="clickOnButton('5')">5</button>
        <button class="button" (click)="clickOnButton('6')">6</button>
        <button class="button operation" (click)="clickOnButton('-')">-</button>

        <button class="button" (click)="clickOnButton('1')">1</button>
        <button class="button" (click)="clickOnButton('2')">2</button>
        <button class="button" (click)="clickOnButton('3')">3</button>
        <button class="button operation large-height-button" (click)="clickOnButton('+')">+</button>
        
        <button class="button" (click)="clickOnButton('0')">0</button>
        <button class="button" (click)="clickOnButton('.')">.</button>
        <button class="button command" (click)="clickOnButton('=')">=</button>
    </div>
</div>
