<div class="calculator">

    <app-display value=''></app-display>
    
    <div class="calculator-buttons">
        <button class="button command large-width-button" (click)="onClick('CE')">CE</button>
        <button class="button operation" (click)="onClick('%')">%</button>
        <button class="button operation" (click)="onClick('/')">/</button>  

        <button class="button" (click)="onClick('7')">7</button>
        <button class="button" (click)="onClick('8')">8</button>
        <button class="button" (click)="onClick('9')">9</button>
        <button class="button operation" (click)="onClick('*')">*</button>
        
        <button class="button" (click)="onClick('4')">4</button>
        <button class="button" (click)="onClick('5')">5</button>
        <button class="button" (click)="onClick('6')">6</button>
        <button class="button operation" (click)="onClick('-')">-</button>

        <button class="button" (click)="onClick('1')">1</button>
        <button class="button" (click)="onClick('2')">2</button>
        <button class="button" (click)="onClick('3')">3</button>
        <button class="button operation large-height-button" (click)="onClick('+')">+</button>
        
        <button class="button" (click)="onClick('0')">0</button>
        <button class="button" (click)="onClick('.')">.</button>
        <button class="button command" (click)="onClick('=')">=</button>
    </div>
</div>
